@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
}

nav ul li a {
    transition: 0.2s;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}

button {
    padding-inline: 16px;
    padding-block: 8px;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0 0 4px gray;
}

.hamburger {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/images/hamburger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none;
}

.cta-group button.primary {
    background-color: #94ff08;
    transition: 0.3s;
    animation: ease-in;
}
.cta-group button.primary:hover {
    box-shadow: 0 0 8px 2px #94ff08;
}

.cta-group button.secondary {
    border: 2px solid #94ff08;
    transition: 0.3s;
    animation: ease-in-out;
}

.cta-group button.secondary:hover {
    border: 2px solid #94ff08;
    background-color: #94ff08;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    animation: ease-in-out;
    box-shadow: 0 0 8px #94ff08;
}

.card {
    transition: 0.3s;
    animation: ease-in;
}
.card .card-overlay {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

.card:hover {
    cursor: pointer;
    scale: 1.02;
}

table tr td,
table tr th {
    padding: 1rem;
    text-align: left;
}

table tr {
    border-bottom: 1px solid #f7f7f7;
}
